@tailwind base;
@tailwind components;
@tailwind utilities;

.ProseMirror a, 
.rich-text-preview a,
.article-content a {
    text-decoration: underline;
    color: blue;
    cursor: pointer;
}

.ProseMirror h1, 
.rich-text-preview h1, 
.article-content h1 {
    font-size: 28px;
    font-weight: bold;
    margin-bottom: 16px;
}

.ProseMirror h2, 
.rich-text-preview h2, 
.article-content h2 {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 14px;
}

.ProseMirror h3, 
.rich-text-preview h3, 
.article-content h3 {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 12px;
}

.ProseMirror p, 
.rich-text-preview p, 
.article-content p {
    margin-top: 12px;
}